MQTT_ENABLED=true
MQTT_BROKER_URL=mqtt://192.168.1.10:8883
MQTT_USERNAME={your_mqtt_username}
MQTT_PASSWORD={your_mqtt_password}
MQTT_CLIENT_ID=eta-node-exporter
MQTT_TLS_ENABLED=true
MQTT_DISCOVERY_PREFIX=homeassistant
MQTT_STATE_TOPIC_PREFIX=eta/boiler
MQTT_DEVICE_ID=eta_boiler
MQTT_DEVICE_NAME=ETA Boiler
